<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All products | Black store </title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<link rel="icon" href="img/logos.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"  rel="stylesheet">
</head>
<body>

<div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="/" ><img src="/img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="/" class="active">Home</a></li>
					<li class="menu"><a href="/product" class="active">product</a></li>
					<li class="menu"><a href="/contact">Contact</a></li>
					<li class="menu"><a href="/login">Account</a></li>

				</ul>
			</nav>
		</div>
				

	</div>
</div>
<div class="small-container single-product">
    <div class="row">
        <div class="col2">
            <img src="/<%= product.image_path %>" alt="<%= product.title %> Image" width="100%" height="100%" id="prod-img">
        </div>

        <div class="col2">
            <p>Home | T-shirt</p>
            <h1><%= product.title %></h1>
            <h4>₹<%= product.price %></h4>
            <select>
                <option>AVAILABLE SIZE</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">
            <a href="/cart/<%= product.product_id %>" class="btn">BUY NOW</a>
            <h3>Product Description</h3><br>
            <p>₹<%= product.description %></p>
        </div>

    </div>
</div>
<!-----Title---->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <P><a href="/product">view more</a></P>
        </div>
    </div>

	<div class="small-container">
		<div class="row">
			<div class="col-4"><a href="/product6" class="link">
				<img src="/img/product-6.jpg">
				<h4>Shadow Hokage Naruto</h4>
				<p>₹500</p></a>
			</div>
			<div class="col-4"><a href="/product11" class="link">
				<img src="/img/product-11.jpg">
				<h4>Signature Brown T-Shirt</h4>
				<p>₹400</p></a>
			</div>
			<div class="col-4"><a href="/product4" class="link">
				<img src="/img/product-4.jpg">
				<h4>Dynamic Batman T-shirt</h4>
				<p>₹400</p></a>
			</div>
			<div class="col-4"><a href="/product3" class="link">
				<img src="/img/product-3.jpg">
				<h4>Triumph Bullmer T-shirt</h4>
				<p>₹350</p></a>
			</div>
		</div>


	</div>
		<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="foot-1">
						<h3>Download our App</h3><br>
						<p>Download App for Android and IOS mobile phones.</p><br>
						<img src="/img/app-store.png" class="app">
						<img src="/img/play-store.png" class="app">
					</div>
					<div class="foot-2">
						<img src="/img/logo1.png"><br>
						<p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
					</div>
					<div class="foot-3">
						<h3>Follow us</h3><br>
						<ul>
							<li>Instagram</li>
							<li>FaceBook</li>
							<li>Youtube</li>
							<li>Twitter</li>
						
					</div>
				</div>
				<hr>
				<p class="cr">&#169;<br>Copyright 2023</p>
			</div>
		</div>
</html>