<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All products | Black store </title>
	<link rel="stylesheet" href="style/style.css">
	<link rel="icon" href="img/logos.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="/" ><img src="img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="/">Home</a></li>
					<li class="menu"><a href="/product"  class="active">product</a></li>
					<li class="menu"><a href="/contact">Contact</a></li>
					<li class="menu"><a href="/login">Account</a></li>

				</ul>
			</nav>
		</div>
	</div>
</div>

<!-----Top selling products---->	
	<div class="small-container">
        <div class="row row-2">
            <h2>All products</h2>
            <select>
                <option>Filter by</option>
                <option>Sort by price</option>
                <option>Sort by Name</option>
                <option>Sort by popularity</option>
                <option>Sort by rating</option>
            </select>
        </div>
		
		<!--Dynamic product space-->
		<div class="row">
			<% products.forEach(product => { %>	
				<div class="col-4">
					<a href="/product/<%= product.product_id %>" class="link">
					<img src="<%= product.image_path %>" alt="<%= product.title %> Image">
					<h4><%= product.title %></h4>
					<p>₹<%= product.price %></p></a>
				</div>
			<% }); %>
        </div>

	</div>

		<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="foot-1">
						<h3>Download our App</h3><br>
						<p>Download App for Android and IOS mobile phones.</p><br>
						<img src="img/app-store.png" class="app">
						<img src="img/play-store.png" class="app">
					</div>
					<div class="foot-2">
						<img src="img/logo1.png"><br>
						<p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
					</div>
					<div class="foot-3">
						<h3>Follow us</h3><br>
						<ul>
							<li>Instagram</li>
							<li>FaceBook</li>
							<li>Youtube</li>
							<li>Twitter</li>
						
					</div>
				</div>
				<hr>
				<p class="cr">&#169;<br>Copyright 2023</p>
			</div>
		</div>
</body>
</html>